.App {
  text-align: center; }

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.Wrapper-container {
  width: 100vw;
  height: calc( 90vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center; }

.Editor-container, .Preview-container {
  width: calc( 50% - 2px);
  height: 98%;
  text-align: left;
  padding: 1em; }

.Vertical-separator {
  height: calc(98% - 2em);
  width: 2px;
  background: #000; }

.Editor-container textarea {
  width: calc(100% - 2em);
  max-width: calc(100% - 2em);
  height: calc(100% - 2em);
  padding: 1em; }
